apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: csi-shared-lvm.cienijr.github.com
spec:
  attachRequired: false
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent
  - Ephemeral
