apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "csi-shared-lvm.fullname" . }}-node
  namespace: kube-system
  labels:
    app: csi-shared-lvm-node
spec:
  selector:
    matchLabels:
      app: csi-shared-lvm-node
  template:
    metadata:
      labels:
        app: csi-shared-lvm-node
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}-node
      hostNetwork: true
      containers:
      - name: csi-node-driver-registrar
        image: {{ .Values.sidecars.registrar.image }}
        args:
        - "--v=5"
        - "--csi-address=$(ADDRESS)"
        - "--kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)"
        env:
        - name: ADDRESS
          value: /csi/csi.sock
        - name: DRIVER_REG_SOCK_PATH
          value: /var/lib/kubelet/plugins/csi-shared-lvm.cienijr.github.com/csi.sock
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi/
        - name: registration-dir
          mountPath: /registration/

      - name: liveness-probe
        image: {{ .Values.sidecars.livenessprobe.image }}
        args:
        - "--csi-address=$(ADDRESS)"
        env:
        - name: ADDRESS
          value: /var/lib/csi/sockets/pluginproxy/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /var/lib/csi/sockets/pluginproxy/

      - name: csi-shared-lvm-node-plugin
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /csi-shared-lvm
        - node
        - --endpoint=$(CSI_ENDPOINT)
        env:
        - name: CSI_ENDPOINT
          value: unix:///csi/csi.sock
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi
        - name: kubelet-dir
          mountPath: /var/lib/kubelet
          mountPropagation: "Bidirectional"
        - name: device-dir
          mountPath: /dev
        ports:
        - containerPort: 9808
          name: healthz
          protocol: TCP
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          timeoutSeconds: 3
          periodSeconds: 10

      volumes:
      - name: registration-dir
        hostPath:
          path: /var/lib/kubelet/plugins_registry
          type: DirectoryOrCreate
      - name: plugin-dir
        hostPath:
          path: /var/lib/kubelet/plugins/csi-shared-lvm.cienijr.github.com
          type: DirectoryOrCreate
      - name: kubelet-dir
        hostPath:
          path: /var/lib/kubelet
          type: Directory
      - name: device-dir
        hostPath:
          path: /dev
          type: Directory
